
<div class="row">
    <div class="col-md-2">
        <%= render 'layouts/navigation/sidebar_menu', locals: {model: @institution} %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <h1 class="text-center">Meus Dados</h1>
        <%= render partial: 'shared/institution/form', locals: {model: @institution, url: admin_institution_path(@institution), form_back_page: admin_institutions_path, form_is_edit: true} %>
    </div>
</div>