<div class="row">
    <div id="sidebar_wrap" class="col-md-3">
        <%= render 'layouts/navigation/sidebar_menu' %>
    </div>
    <div class="col-md-8">
        <h1 class="text-center">Meu perfil</h1>
        <div id='form_wrap'>
            <%= render partial: 'shared/institution/form', locals: {model: @institution, url: admin_institution_path(@institution), form_back_page: admin_institutions_path, form_is_edit: true} %>
        </div>
    </div>
</div>