<div class="row">
	<div class="col-md-12">
		<h1 class="text-center">Bem-vindo à Rifa Amiga</h1>
		<h2 class="text-center">Ajudando instituições a arrecadar dinheiro e ainda com chances de ganhar prêmios</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h1 class="text-center">Veja como funciona</h1>
		<h2 class="text-start">Se cadastre</h2>
		<h2 class="text-start">Encontre uma campanha</h2>
		<h2 class="text-start">Compre números</h2>
		<h2 class="text-start">Aguarde o sorteio</h2>
	</div>
</div>