<div  class="login-wrap">
  <%= form_with(url: sign_in_path, html: { class: "form-horizontal" }, method: "post") do %>
  <div class="form-group">
    <div class="col-md-12 align-self-center"><h2>Entrar</h2></div>
  </div>

  <div class="form-group">
    <%= label :cgc, :title, "CPF/CNPJ" %>
    <input type="text" name="cgc" id="cgc">
  </div>

  <div class="form-group">
    <%= label :password, :title, 'Senha' %>
    <input type="password" name="password" id="password">
  </div>

  <div class="form-group">
    <div class="actions">
      <%= submit_tag "Entrar" %>
    </div>
  </div>

  <% end %>

</div>