<div class="row">
    <div id="sidebar_wrap" class="col-md-3">
        <%= render 'layouts/navigation/sidebar_menu' %>
    </div>
    <div class="col-md-8">
        <h1 class="text-center">Meu perfil</h1>
        <div id='form_wrap'>
              <%= render partial: 'shared/user/form', locals: {model: @user, url: user_path, form_back_page: user_path, form_is_edit: true} %>
        </div>
    </div>
</div>