// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
//@import "bootstrap-sprockets";
@import "bootstrap";

$body-background-color: #df6f2f2;

$orange-background-color: rgb(254,209,140);;
$tomato-background-color: rgb(254,101,79);
$brown-background-color: #AA8774;

body {
background-color: $body-background-color;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
height:100vh;  /* responsive height */
padding-top: 7em;
}

footer {
position: fixed;
height: 100px;
bottom: 0;
width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Rules by ID */

#pessoaFisicaLogin {
background: $tomato-background-color;
background: linear-gradient(0deg, rgba(254,217,155,1) 0%, rgba(254,217,155,1) 35%, rgba(254,217,155,1) 100%);
}

#InstituicaoLogin {
background: rgb(254,101,79);
background: linear-gradient(0deg, rgba(254,101,79,1) 0%, rgba(254,101,79,1) 35%, rgba(254,101,79,1) 100%);
}

#navbar {
background: $orange-background-color;
background: linear-gradient(0deg, rgba(254,209,140,1) 0%, rgba(254,209,140,1) 35%, rgba(254,209,140,1) 100%);
}

#sidebar_wrap {
  margin-top: 4.1em;
}

#sidebar_menu {
 background: $orange-background-color;
 border-color: $orange-background-color;
 border-size: 2px;
 border-style: solid;
 border-radius: 5px;
}

#sidebar_menu a.active {
  background: $brown-background-color;
  border-color: $brown-background-color;
}

#raffle_filters {
 background: $orange-background-color;
 border-color: $orange-background-color;
 border-size: 2px;
 border-style: solid;
 border-radius: 5px;
}

#raffleImages {
  height: 200px;
}

#raffleCarouselInner {
  height: 400px;
}

#raffleCarouselInner > div > img{
  height: 400px;
}

#main_admin table thead{
background-color: #2f2f2f;
color: white;
}

#main_admin table thead th{
border-left: 0;
border-right: 0;
}

#main_admin table tbody td{
border-left: 0;
border-right: 0;
}

/* Rules by Class */

.data-table-search {
width: 18em;
margin-bottom: 1em;
float: right;
}

.with-main-border{
 border-color: $orange-background-color;
 border-size: 2px;
 border-style: solid;
 border-radius: 5px;
}

.card-image {
  position: relative;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.vertical-center {
min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
min-height: 50vh; /* These two lines are counted as one :-)       */

display: flex;
align-items: center;
}

.card {
 border-color: $orange-background-color !important;
 border-width: 3px !important;
 border-style: solid !important;
 border-radius: 5px !important;
}

.square:after{
content: "";
display: block;
padding-top: 15%;  /* initial ratio of 1:1*/
}

.square:before{
content: "";
display: block;
padding-top: 15%;  /* initial ratio of 1:1*/
}

.error-panel {
  background: $tomato-background-color;
}



.default-border {
 border-color: $orange-background-color;
 border-size: 2px;
 border-style: solid;
 border-radius: 5px;
}

.btn-submit {
background: $brown-background-color;
color: white;
width: 80%;
}

.btn-submit-adm {
background: $brown-background-color;
color: white;
width: 100%;
}

.btn-action {
background: $brown-background-color;
color: white;
}

.sub-group-form {
margin-top: 1em;
background: $orange-background-color;
}

.rmb-1{
  margin-bottom: 0vh;
}

.dz-progress {
  display: none !important;
}