<div class="position-relative mt-2">
	<div class="position-absolute top-0 start-50 translate-middle">
		<% flash.each do |type, msg| %>
		<div class="alert alert-primary" role="alert">
			<%= msg %>
		</div>
		<% end %>
	</div>
</div>