<div class="row">
   <h1 class="text-center">Novo Usuário</h1>
</div>
<div class="row">
    <%= render partial: 'shared/user/form', locals: {model: @user, url: user_registration_path, form_back_page: sign_in_path, form_is_edit: false} %>
</div>